<!DOCTYPE html>
<html>
<head>
  <title>Muzzley Gamepad</title>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Muzzley Gamepad <i class="fa fa-arrows"></i></a>
          </div>
        </div>
      </nav>
    </div>

    <div class="row text-center">
      <img id="qrCnt">
      <div id="loader" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
      </div>
      <div class="alert alert-danger error"></div>
      <div id="action" ></div>
    </div>
  </div>
</body>
<script src="http://cdn.muzzley.com/libraries/js/muzzley-client-0.3.8.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="javascripts/app.js"></script>
</html>